.paper-profile{
    padding: 1rem;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}

.profile-picture{
    margin: 0 auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    color: transparent;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    transition: all .3s ease;
}

.profile-picture:hover{
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    cursor: pointer;
}

.profile-picture span {
    display: inline-block;
    padding-top: 2.5em;
    padding-bottom: 4.5em;
}
