.navbar-distribution{
    justify-content: space-between;
}

.left-items, .profile-circled{
    display: flex;
    align-items: center;
}

.profile-circled{
    margin-right: 2rem;
}

.chip-color{
    color:white !important; 
    background-color:rgb(21, 160, 245) !important;
}

.chip-color:hover{
    background-color: rgb(58, 179, 255) !important;
}
