.dashboard-layout{
    margin-top: 3rem;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
}

.card h4{
    position: absolute;
    background-color: #10CE81;
    top: -35px;
    padding: 0.7rem;
    color: white;
    box-sizing: border-box;
}

.order-cell{
    cursor: pointer;
}

.general-info{
    margin: 2rem 0 1rem 0;
    text-align: left;
}

.canvasjs-chart-credit{
    display: none;
}

canvas{
    width: 300px !important;
    height: auto !important;
}

@media(max-width: 1100px){
    .cards{
        display: block;
    }
    .card{
        margin: 2rem auto;
        width: fit-content;   
    }
}

@media(max-width: 770px){
    .cards{
        display: block;
    }
    .card{
        margin: 2rem auto;
        width: max-content;   
    }
}