.dashboard-layout{
    margin-top: 3rem;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    min-width: 20vw;
}

.card h4{
    position: absolute;
    background-color: #10CE81;
    top: -35px;
    padding: 0.7rem;
    color: white;
}

.order-cell{
    cursor: pointer;
}