body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  text-decoration: none;
}

/* Clases para todos los componentes */

.section-title{
  padding: 0.6em 0 0 0;
  margin-top: 1em;
  margin-left: 1em;
}

.tab-content{
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}